@font-face {
  font-family: digital;
  src: url('fonts/digital-7.ttf');
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 232px;
  background-color: rgb(95, 95, 95);
  border: 1px solid lightgray;
  border-radius: 10px;
}

.calculator .header {
  display: flex;
  gap: 8px;
  padding-left: 10px;
  background-color: rgb(39, 39, 40);
  border-radius: 10px 10px 0 0;
}

.calculator .header .circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-top: 5px;
}



.header:hover .circle:nth-child(1) {
  background-image: url(img/x.svg);
  background-position: center;
  background-size: cover;
}

.header:hover .circle:nth-child(2) {
  background-image: url(img/minus.svg);
  background-position: center;
  background-size: cover;
}

.header:hover .circle:nth-child(3) {
  background-image: url(img/plus.svg);
  background-position: center;
  background-size: cover;
}

.circle:nth-child(1) {
  background-color: rgb(255, 66, 66);
}

.circle:nth-child(2) {
  background-color: rgb(255, 213, 0);
}

.circle:nth-child(3) {
  background-color: rgb(0, 220, 0);
}

.calculator .display {
  height: 50px;
  padding: 10px;
  background-color: rgb(39, 39, 40);
  /* border-radius: 10px 10px 0 0; */
  font-family: digital;
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.calculator .buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons .btn {
  width: 25%;
  height: 47px;
  color: white;
  font-size: 1.3rem;
  font-family: sans-serif;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Layout borders start... */
.btn:nth-child(4n-3),
.btn:nth-child(4n-2),
.btn:nth-child(4n-1) {
  border-right: 1px solid black;
}

.btn.equal-btn {
  border-right: none;
}

.zero-btn {
  flex-grow: 1;
  border-radius: 0 0 0 10px;
}

.equal-btn {
  border-radius: 0 0 10px 0;
}

/* ...layout borders end */

.btn:nth-child(1),
.btn:nth-child(2),
.btn:nth-child(3) {
  background-color: rgb(60, 60, 60);
}

.btn:nth-child(4n),
.btn.equal-btn {
  background-color: orange;
  font-size: 1.5rem;
}